 @media only screen and (max-width: 500px) {
     /* For mobile phones: */

    .wrap, wrapReg {
        width: 95%;
        height: 95%;
    }

     .wrapReg {
        border-radius: 20px;
         /* border: 3px dotted red;     */
        background-image: url("../img/concrete-texture.png");
         height: inherit;  
        width: 90%;
        height: 90%;
        overflow: hidden; 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        margin: auto; 
        text-align: center; 
    } 

    .form label {
        border-bottom: 2px solid grey; 
        padding: 10px;
    }

    .loginSubmit {
        margin: 0px;
    }

    a {
        margin: 20px;
    }

}

@media only screen and (max-width: 768px) {
    /*For desktop:*/

    .wrap, wrapReg {
        width: 85%;
        height: 85%;
    }

    .form label {
        border-bottom: 2px solid grey; 
        padding: 10px;
    }

    .loginSubmit {
        margin: 0px;
    }

    a {
        margin: 20px;
    }
}