 @media only screen and (max-width: 500px) {

    .wrap {
        width: 95%;
        height: 95%;
    }
    

    .form label {
        border-bottom: 2px solid grey; 
        padding: 10px;
    }

    .loginSubmit {
        margin: 0px;
    }

    a {
        margin: 20px;
    }


}