* {
    margin: 0;
    padding: 0;
    outline: none;
}

.clear {
    clear: both;
}

html {
    height: 100%;
    background-image: url("../img/escheresque_ste.png");
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
    color: wheat;
}

.container {
    position: fixed;
    display: flex;
    height: 100%; 
    width: 100%; 
}

.wrap {
    border-radius: 10px;
         border: 3px dotted red;     
    background-image: url("../img/concrete-texture.png");
    height: inherit; 
    width: 50%;
    height: 60%;
    /* overflow: hidden; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: auto; 
    text-align: center; 
}

.wrap::before .wrap::after {
    content: " ";
    width: 360px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}

.wrapReg {
    border-radius: 10px;
        /* border: 3px dotted red;     */
    background-image: url("../img/concrete-texture.png");
    height: inherit; 
    width: 50%;
    height: 80%;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: auto; 
    text-align: center; 
}

.login {
      /* border: 3px solid green; */
    height: inherit;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

 .registration { 
      /* border: 3px solid green;    */
    height: inherit;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.form {
        /* border: 3px solid goldenrod;     */
    height: inherit;
    min-height: 300px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}

.formReg {
       /* border: 3px solid goldenrod;    */
    height: inherit;
    min-height: 300px;
    width: inherit;
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    margin: auto;
}
.form label {
    text-transform: uppercase;
}

.registration label {
    text-transform: uppercase;
}

.inp {
    border-radius: 5px;
    border-style: solid;
    /* height: 20%; */
    padding: 15px;
}

.loginSubmit {
    border-radius: 5px;
    border-style: none;
    width: auto;
    padding: 15px;
    margin: 40px;
    background-color: #36b17a;
    color: white;
}

.regSubmit {
    border-radius: 5px;
    border-style: none;
    width: auto;
    padding: 15px;
    margin: 40px;
    background-color: #36b17a;
    color: white;
}

.loginSubmit:hover {
    color: gold;
    background-color: green;
}

.regSubmit:hover {
    color: gold;
    background-color: green;
}

a {
    color: #808080;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
}

a:hover {
    color: #c0c0c0;
}

a, a:hover {
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    transform: all.6s ease;
}

.back {
    /* background-color: yellow; */
    padding: 20px;
    position: absolute;
    font-size: 30px;
}

.text {

}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: grey;
}

.footer__develop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     padding: 10px; 
}

.footer .social a {
    font-size: 18px;
    padding: 3px;
}