* {
	padding: 0;
	margin: 0;
}

html {
	background-color: green;
}
header {
	background: green;
	color: #fff;
	padding: 20px;
}

.login {
	background: grey;
	color: #fff;
	padding: 10px;
	display: flex;
	text-transform: uppercase;
}

.login input {
	height: 23px;
}

#loginSubmit {
	/*border-radius: 4px;*/
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	height: 26px;
	border-style: none
}

.wrap {
	text-align: center;
	border: 1px solid black;
}

#formReg form {
	padding: 50px;
	background-color: green;
	color: #fff;
}

.error {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}